.carousel-indicators [data-bs-target]{
    border-radius: 100% !important;
    width: 10px !important;
    height: 10px !important;
    border: 1px solid var(--primary-color) !important;
}
.carousel-indicators [data-bs-target]:hover{
    background-color: var(--primary-color);
}
.imgposition{
    margin-top: -30px;
}
